* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Play", sans-serif;
    font-style: initial;

}

.header {
    width: 100%;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav button {
    font-size: 18px;
    color: rgb(95, 95, 95);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav button:focus,
.nav button:hover {
    color: white;
}

.nav button:focus:after,
.nav button:hover:after {
    width: 100%;
    left: 0%;
}

.nav button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.tela{
    background-color: #14213D;
    height: 100%;
    width: 100%;
}
.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;

    
    gap: 15px;
}
.img img{
    border-radius: 15px;
    height: 32vh;
    width: 11vw;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);
}
.card{
    background-color: rgba(255, 255, 255, 0.74);
    height: 40vh;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);;
    margin-left: 10%;
    border: 5px solid black ;
}
.ano{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.ano p{
    font-size: 25px;
    font-weight: bold;
}
.notice{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.notes p{
    font-size: 18px;
    width: 25vw;
}
.titulo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
}


/* ---------------MediaQuery--------------- */

@media (max-width: 570px){

    .content{
        height: 100%;
        flex-direction: column;
        width: 100VW;
    }

    .esq iframe{
        height: 50vh;
        width: 75vw;
        margin-top: 20px;
    }

    .text{
        width: 90%;
        margin-bottom: 10px;
    }

}