* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Play", sans-serif;
    font-style: initial;

}

.header {
    width: 100%;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav button {
    font-size: 18px;
    color: rgb(95, 95, 95);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav button:focus,
.nav button:hover {
    color: white;
}

.nav button:focus:after,
.nav button:hover:after {
    width: 100%;
    left: 0%;
}

.nav button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}


.content {
    height: calc(100vh - 8vh);
    background-color: #14213D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.esq {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
}

.esq iframe{
    height: 350px;
    width: 45vw;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: justify;
    gap: 10px;
    width: 47vw;
}



/* ---------------MediaQuery--------------- */

@media (max-width: 570px){

    .content{
        height: 100%;
        flex-direction: column;
        width: 100VW;
    }

    .esq iframe{
        height: 50vh;
        width: 75vw;
        margin-top: 20px;
    }

    .text{
        width: 90%;
        margin-bottom: 10px;
    }

}