*{
    padding: 0px;
    margin: 0px;
    text-decoration: 0px;
    font-family: "Play", sans-serif;
    font-style: initial;
}

:root{
    --cor-azul: #14213D;

}


.header{
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url(../img/Frame\ 5.svg);
    background-size: cover;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 95vh);
}

.nav button {
    font-size: 18px;
    color: rgb(95, 95, 95);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav button:focus,
.nav button:hover {
    color: white;
}

.nav button:focus:after,
.nav button:hover:after {
    width: 100%;
    left: 0%;
}

.nav button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}


.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 44px);
    position: relative;
    animation-duration: 1s;
    animation-name: entrada-esquerda;
    gap: 20px;
}


.titulo h1{
    font-size: 80px;
    position: relative;
    animation-duration: 1s;
    animation-name: entrada-esquerda;

}

.titulo p{
    
    font-size: 30px;
    position: relative;
    animation-duration: 1s;
    animation-name: entrada-esquerda;
}

.titulo button {
    border: none;
    outline: none;
    background-color: rgb(244, 244, 244);
    padding: 50px 60px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px rgb(114, 104, 206);
    padding: 6px 30px 6px 30px;
    border: none;
    border-radius: 20px;
}

.titulo button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px rgb(227, 227, 227);
}

.titulo-cima{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    height: 70vh;
}
main{
    background-color: #14213D;
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;

    
    gap: 15px;
}
.img img{
    border-radius: 15px;
    height: 32vh;
    width: 11vw;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);
}
.card{
    background-color: rgba(255, 255, 255, 0.74);
    height: 40vh;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);;
    margin-left: 10%;
    border: 5px solid black ;
}
.ano{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.ano p{
    font-size: 25px;
    font-weight: bold;
}
.notice{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.notes p{
    font-size: 18px;
    width: 25vw;
}
.gamestop h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    color: #fff;
}
.cardgif{
    background-color: rgba(255, 255, 255, 0.74);
    height: 40vh;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);;
    margin-left: 10%;
    border: 5px solid black ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#gif{
    height: 200px;
    width: 200px;
}


/* ---------------MediaQuery--------------- */

@media (max-width: 570px){

    .content{
        height: 100%;
        flex-direction: column;
        width: 100VW;
    }

    .esq iframe{
        height: 50vh;
        width: 75vw;
        margin-top: 20px;
    }

    .text{
        width: 90%;
        margin-bottom: 10px;
    }

}




@keyframes entrada-esquerda{
    0%{
        right: 500px;
    }
    100%{
        right: 0px;
    }
}


/* ---------------MediaQuery-------------- */


@media (max-width: 790px){

    .content-card{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

}

@media (max-width: 480px){

    .content-card{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .titulo h1{
        font-size: 50px;
    }

    .titulo p{
        font-size: 20px;
    }
}