*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
}

.header{
    width: 100%;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);  
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav button {
    font-size: 18px;
    color: rgb(95, 95, 95);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav button:focus,
.nav button:hover {
    color: white;
}

.nav button:focus:after,
.nav button:hover:after {
    width: 100%;
    left: 0%;
}

.nav button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}



.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #14213D, #001138);
}

.form{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 2px rgb(0, 0, 0);
}

.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn button {
    padding: 5px;
    width: 100%;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.btn button:hover{
    padding: 6px;
    box-shadow: rgb(143, 143, 143) 0px 3px 0px 0px;   
    transition: 0.4s;
}


/* ----------------Programação da Linha--------------- */

.esq a {
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
}



.esq a:focus:after,
.esq a:hover:after {
    width: 100%;
    left: 0%;
}


.esq a::after{
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}


/* ---------------------------------------- */


.inpt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.inpt input{
    border: none;
    border-bottom: 1px solid white;
    background: black;
    width: 300px;
    height: 30px;
    color: white;
}

.inpt input:focus{
    outline: none;
}


/* ------------------MediaQuery------------------ */

@media (max-width: 790px){

    .form{
        height: 75vh;
    }

    .form h1{
        text-align: center;
    }
}

@media (max-width: 570px){

    .form{
        height: 75vh;
        width: 70vw;
    }
}