* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Play", sans-serif;
    font-style: initial;

}

.header {
    width: 100%;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav button {
    font-size: 18px;
    color: rgb(95, 95, 95);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav button:focus,
.nav button:hover {
    color: white;
}

.nav button:focus:after,
.nav button:hover:after {
    width: 100%;
    left: 0%;
}

.nav button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.content {
    height: calc(100vh - 8vh);
    background-color: #14213D;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    color: white;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: black;
    height: 50%;
    width: 35%;
    border: 5px solid black;
    border-radius: 15px;
}

.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn .btns button {
    padding: 5px 55px;
    width: 100%;
    height: 4vh;
    background-color: #14213D;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn button a{
    
    color: white;
}

.btns button a:hover{
    padding: 10px 40px;
    transition: 0.4s;
}



@media (max-width: 480px){

    .tabela    {
        overflow-x: auto;
        width: 95%;
    }
}

