* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Play", sans-serif;
    font-style: initial;

}

.header {
    width: 100%;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav button {
    font-size: 18px;
    color: rgb(95, 95, 95);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav button:focus,
.nav button:hover {
    color: white;
}

.nav button:focus:after,
.nav button:hover:after {
    width: 100%;
    left: 0%;
}

.nav button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.content {
    height: calc(100vh - 8vh);
    background-color: #14213D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.inputs input {
    border: 2px solid snow;
    border-radius: 12px;
    width: 35vh;
    font-size: 12px;
    padding: 6px;
    transition: all ease 0.5s;
}

.inputs input:focus {
    outline: 0;
    border: 3.5px solid black;

}

.inputs input i {

    padding: 50px;
}

.inputs button {
    background: none;
    border: none;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 15vh;
    align-items: center;
}

.pesquisa button {
    background: transparent;
    border: none;
}

.historico {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historico button{
    background: black;
    color: white;
    border: none;
    padding: 7px 0px;
    width: 22%;
    border-radius: 10px;
}

.historico button a{
    color: white;
}

.card-jogo {
    margin-top: 20px;
    width: 90%;
    max-width: 550px;
    background: white;
    color: black;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.4);
}

.card-jogo img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}


@media (max-width: 480px) {

    .tabela {
        overflow-x: auto;
        width: 95%;
    }
}